/**
BEM(Block, Element, Modifier)
[Bloque]
[Bloque]__[Elemento]
[Bloque]--[Modificador]
[Elemento]--[Modificador]
[Bloque]__[Elemento]--[Modificador]
*/
* {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: 100vh;
  margin: 0;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 70px;
}
.container .header .header__container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header .header__nav {
  width: 30%;
}
.container .header .header__nav .nav__ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  color: #2E2F38;
}
.container .header .header__container-sign {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.container .header .header__container-sign .container-sign__ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.container .header .header__container-sign .container-sign__ul .container-sign__up {
  font-weight: bold;
  gap: 20px;
}
.container .header .header__container-sign .container-sign__ul .container-sign__up .sign__up {
  text-decoration: none;
  color: white;
  padding-right: 20px;
}
.container .header .header__container-sign .container-sign__ul .container-sign__up .sign__in {
  text-decoration: none;
  background-color: #FA504D;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
}
.container .section {
  display: grid;
  grid-template-columns: 60% 40%;
}
.container .section .section__article-information {
  position: relative;
}
.container .section .section__article-information .article__h1 {
  font-size: 80px;
  font-family: "Belgrano";
  font-weight: 100;
  line-height: 80px;
  margin-bottom: 20px;
}
.container .section .section__article-information .article__h1::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 150px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: 300px;
  left: 160px;
  z-index: 1;
}
.container .section .section__article-information .article__p {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 400;
  color: #8E8E8E;
  margin-bottom: 45px;
}
.container .section .section__article-information .article__p-underline {
  text-decoration: underline;
  text-decoration-color: #FA504D;
  text-decoration-thickness: 3px;
}
.container .section .section__article-information .article__button {
  display: flex;
  margin-bottom: 80px;
}
.container .section .section__article-information .article__button .button__explore {
  text-decoration: none;
  background-color: #FA504D;
  padding: 10px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-weight: bold;
  padding-left: 60px;
  padding-right: 60px;
  margin-right: 40px;
}
.container .section .section__article-information .article__button .button__learn-more {
  display: flex;
  align-items: center;
  color: black;
  font-family: "Poppins";
}
.container .section .section__article-information .article__featured {
  display: flex;
  flex-direction: column;
}
.container .section .section__article-information .article__featured .article__h2 {
  font-family: "Belgrano";
  margin-bottom: 40px;
}
.container .section .section__article-information .article__featured .featured__img {
  display: flex;
  width: 408px;
  height: 240px;
  gap: 30px;
}
.container .section .article__buy {
  background-image: url(../img/image.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.container .section .article__buy .buy__information {
  position: absolute;
  bottom: 70px;
  left: 30px;
  background-color: white;
  height: 150px;
  width: 85%;
  padding: 20px;
}
.container .section .article__buy .buy__information .information__user {
  display: flex;
  margin-bottom: 20px;
}
.container .section .article__buy .buy__information .information__user .user__img {
  margin-right: 20px;
}
.container .section .article__buy .buy__information .information__user .user_id {
  font-family: "Poppins";
  font-size: 20px;
}
.container .section .article__buy .buy__information .information__user .user_id .user__atwork {
  font-weight: bold;
}
.container .section .article__buy .buy__information .information__user .user__buy-quantity {
  font-family: "Poppins";
  margin-left: 220px;
  font-size: 20px;
}
.container .section .article__buy .buy__information .information__user .user__buy-quantity .user__price {
  font-weight: bold;
}
.container .section .article__buy .buy__information .buy__button {
  margin-top: 20px;
  display: flex;
}
.container .section .article__buy .buy__information .buy__button .confirm-buy {
  background-color: #FA504D;
  text-decoration: none;
  background-color: #FA504D;
  padding: 10px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-weight: bold;
  padding-left: 80px;
  padding-right: 100px;
  margin-right: 20px;
}
.container .section .article__buy .buy__information .buy__button .confirm-details {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-weight: bold;
  color: #FA504D;
  padding-left: 100px;
  padding-right: 80px;
}
.container .section .buy__information__artist {
  width: 85%;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
.container .section .buy__information__artist .information__additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .section .buy__information__artist .information__additional .additional {
  display: flex;
  align-items: center;
}
.container .section .buy__information__artist .information__additional .additional .additional__numbers {
  font-family: "Poppins";
  font-weight: 700;
  color: #FA504D;
  font-size: 20px;
}
.container .section .buy__information__artist .information__additional .additional__text {
  font-family: "Poppins";
  font-weight: none;
  margin-left: 10px;
  font-size: 15px;
  color: white;
}/*# sourceMappingURL=style.css.map */